html {
    padding: 0px;
}

body {
    padding: 0px;
    margin: 0px;
}

main {
    min-width: 100vw;
    min-height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    background-color: #7A5CFA;
    margin: 0px;
}

input:invalid {
    border: 2px solid red !important;
    background-color: rgba(255, 0, 0, 0.3);


}

input:valid {
    border: 2px solid greenyellow !important;
    background-color: rgba(0, 255, 0, 0.3);
}

/* Flex classes*/
.v-flex {
    display: flex;
    flex-direction: column;
}

.v-c-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.v-c-c-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
}

.h-c-flex {
    display: flex;
    justify-content: center;
}

.h-space-b-flex {
    display: flex;
    justify-content: space-between;
}

.form-container {
    background-color: white;
    padding: 30px;
    max-height: 90vh;
}

.input-cont {
    margin: 20px;
    margin-bottom: 24px;
    color: #666666;
}

.input-cont > span, label{
    font-size: 12px;
    margin: 5px;
}

.input-cont > label {
    font-weight: 600;
}

.input-cont > span {
    font-weight: 100;
}

.input-cont > input {
    height: 20px;
    width: 350px;
    border: 1px solid #CCCCCC;
    border-radius: 8px;
    padding: 15px
}

.btn-cont {
    padding: 30px;
}

.form-btn {
    font-size: 16px;
    width: 100px;
    padding: 10px 20px;
    border: 1px solid #7A5CFA;
    border-radius: 8px;
    color: #666666;
    background-color: #FFFFFF;
    cursor: pointer;
}

.form-btn-allow {
    background-color: #7A5CFA;
    color: #FFFFFF;
}